@font-face {
  font-family: 'Mobile';
  src: local('Mobile'), url('./fonts/digital-7.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.stick {
  font-family: Mobile, sans-serif;
  font-size: 3em;
}
.seconds {
  color: rgb(0, 38, 255);
}
.minutes {
  color: rgb(0, 255, 191);
}
.hours {
  color: rgb(151, 45, 45);
}
